.terraform
terraform.tfstate
*.tfstate*
terraform.tfvars
#  Local .terraform-archived directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.vscode
*.DS_Store

trash/
public/

.idea
*.iml